.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.gallery__column__img-wrapper {
    position: relative;
    margin: 10px;
    max-width: 100%;
    font-size: 0;
}

img {
    width: 100%;
}

.gallery__column__img-wrapper>button {
    display: none;
    position: absolute;
    font-size: 16px;
}

.gallery__column__img-wrapper:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(122, 3, 3);
    opacity: 0.3;
}

.gallery__column__img-wrapper:hover>button {
    display: block;
}

@media screen and (max-width: 1050px) {
    .gallery__column {
        width: 50%;
    }
    .gallery__column:nth-child(3) {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .gallery__column {
        width: 100%;
    }
}

.gallery__column__heart-btn {
    top: 5px;
    right: 5px;
}

.gallery__column__download-btn {
    bottom: 10px;
    right: 5px;
}

.gallery__column__add-collection-btn {
    bottom: 10px;
    left: 5px;
}